# Analyzing Arm Strength’s Impact on Minor-League Position Player Promotion

# Import Libraries

In [91]:
# Module for working with file paths and directories
import os

# Module for file pattern matching
import glob

# Data manipulation and analysis library
import pandas as pd

# Module for mathematical operations
import math

# Data visualization library for creating basic plots
import matplotlib.pyplot as plt

# Data visualization library for creating informative and attractive statistical graphics
import seaborn as sns

# Library for scientific and technical computing
import scipy

# Import Datasets

## Import game_events

In [92]:
# Define the path to the 'game_events' folder and load all CSV files
game_events_files = glob.glob(os.path.join('game_events', "*.csv"))

# Read the CSV files and concatenate them into a DataFrame
game_events_df = pd.concat([pd.read_csv(file) for file in game_events_files])

# Remove the 'Unnamed: 0' column from the DataFrame
game_events_df = game_events_df.drop('Unnamed: 0', axis=1)

display(game_events_df)

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
0,1900_01_TeamKJ_TeamB,1,NaN,1,20549,1,1
1,1900_01_TeamKJ_TeamB,1,NaN,1,21044,2,2
2,1900_01_TeamKJ_TeamB,1,NaN,1,21044,0,5
3,1900_01_TeamKJ_TeamB,2,NaN,2,31738,1,1
4,1900_01_TeamKJ_TeamB,2,NaN,2,32233,2,2
...,...,...,...,...,...,...,...
677,1903_32_TeamNB_TeamA1,165,54.0,169,5398327,0,5
678,1903_32_TeamNB_TeamA1,166,55.0,170,5433577,1,1
679,1903_32_TeamNB_TeamA1,166,55.0,170,5434027,10,4
680,1903_32_TeamNB_TeamA1,166,55.0,170,5439177,8,2
681,1903_32_TeamNB_TeamA1,166,55.0,170,5440677,0,5

## Import game_info

In [93]:
# Define the path to the 'game_info' folder and load all CSV files
game_info_files = glob.glob(os.path.join('game_info', "*.csv"))

# Read the CSV files and concatenate them into a DataFrame
game_info_df = pd.concat([pd.read_csv(file) for file in game_info_files])

# Remove the 'Unnamed: 0' column from the DataFrame
game_info_df = game_info_df.drop('Unnamed: 0', axis=1)

display(game_info_df)

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom_inning,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
0,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,2,1,Top,1571.0,2456,2196,1201,2653,2614,2488,2061,2279,8180.0,0.0,0.0,0.0
1,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,3,1,Top,1571.0,2456,2196,1201,2653,2614,2488,2061,2279,8180.0,0.0,0.0,0.0
2,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,4,1,Top,1571.0,2456,2196,1201,2653,2614,2488,2061,2279,8180.0,0.0,0.0,0.0
3,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,5,1,Top,1571.0,2456,2196,1201,2653,2614,2488,2061,2279,6752.0,0.0,0.0,0.0
4,1900_01_TeamKJ_TeamB,TeamB,TeamKJ,NaN,6,1,Top,1571.0,2456,2196,1201,2653,2614,2488,2061,2279,6752.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,54.0,166,7,Bottom,8115.0,3718,6789,9525,8079,8787,7467,5291,8638,2252.0,1771.0,0.0,0.0
165,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,54.0,167,7,Bottom,8115.0,3718,6789,9525,8079,8787,7467,5291,8638,2252.0,1771.0,0.0,0.0
166,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,54.0,168,7,Bottom,8115.0,3718,6789,9525,8079,8787,7467,5291,8638,2252.0,1771.0,0.0,0.0
167,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,54.0,169,7,Bottom,8115.0,3718,6789,9525,8079,8787,7467,5291,8638,2252.0,1771.0,0.0,0.0
168,1903_32_TeamNB_TeamA1,TeamA1,TeamNB,55.0,170,7,Bottom,8115.0,3718,6789,9525,8079,8787,7467,5291,8638,2148.0,0.0,0.0,0.0

## Import ball_pos(ition)

In [94]:
# Define the path to the 'ball_pos' folder and load all CSV files
ball_pos_files = glob.glob(os.path.join('ball_pos', "*.csv"))

# Read the CSV files and concatenate them into a DataFrame
ball_pos_df = pd.concat([pd.read_csv(file) for file in ball_pos_files])

# Remove the 'Unnamed: 0' column from the DataFrame
ball_pos_df = ball_pos_df.drop('Unnamed: 0', axis=1)

display(ball_pos_df)

,game_str,play_id,timestamp,ball_position_x,ball_position_y,ball_position_z
0,1900_01_TeamKJ_TeamB,1,20549.0,-2.432727,57.4860,7.292670
1,1900_01_TeamKJ_TeamB,1,20582.0,-2.272266,53.2614,7.030620
2,1900_01_TeamKJ_TeamB,1,20615.0,-2.125386,49.0848,6.752760
3,1900_01_TeamKJ_TeamB,1,20648.0,-1.992090,44.9559,6.459180
4,1900_01_TeamKJ_TeamB,1,20681.0,-1.872372,40.8753,6.149790
...,...,...,...,...,...,...
5587,1903_32_TeamNB_TeamA1,166,5438977.0,99.407700,351.2220,15.121260
5588,1903_32_TeamNB_TeamA1,166,5439027.0,100.734900,354.0540,12.029700
5589,1903_32_TeamNB_TeamA1,166,5439077.0,102.068100,356.8770,8.874150
5590,1903_32_TeamNB_TeamA1,166,5439127.0,103.407000,359.6820,5.654640
5591,1903_32_TeamNB_TeamA1,166,5439177.0,104.751900,362.4750,2.371131

# Calculating Estimated Throwing Speed

## Extracting Throws from game_events

In [95]:
# Get rows containing event_code 3 (throw) and the rows directly following the throw event
throw_event_next = game_events_df[(game_events_df.event_code == 3) | (game_events_df.event_code.shift(1) == 3)].reset_index(drop='True')

# Row 30 is a throw, but happens after event_code 5 (end of play),
# causing the first pitch of the next play to be included in the dataframe
# Removed rows 30 and 31 as the initial velocity of throw in row 30 can't be determined
throw_event_next = throw_event_next.drop([30, 31]).reset_index(drop='True')
# display(throw_event_next)

# Create a DataFrame with only rows containing throw events
throw_event_only = throw_event_next[throw_event_next.event_code == 3].reset_index(drop='True')

# Remove the 'event_code' column since it's now uniform (equal to 3) in this DataFrame
throw_event_only = throw_event_only.drop(columns='event_code')
# display(throw_event_only)

# Create a DataFrame with non-throw events for reference
not_throw_event_only = throw_event_next[throw_event_next.event_code != 3].reset_index(drop='True')
# display(not_throw_event_only)

# Rename the 'timestamp' column to 'timestamp_start' in the throw event DataFrame
throw_event_only = throw_event_only.rename(columns={'timestamp' : 'timestamp_start'})

# Add a new column 'timestamp_stop' from the non-throw event DataFrame
throw_event_only.insert(5, 'timestamp_stop', not_throw_event_only.timestamp)

display(throw_event_only)

,game_str,play_id,at_bat,play_per_game,timestamp_start,timestamp_stop,player_position
0,1900_01_TeamKJ_TeamB,7,NaN,7,121809,122931,9
1,1900_01_TeamKJ_TeamB,12,NaN,12,311258,312381,9
2,1900_01_TeamKJ_TeamB,14,NaN,14,372219,373704,7
3,1900_01_TeamKJ_TeamB,14,NaN,14,375057,376080,6
4,1900_01_TeamKJ_TeamB,14,NaN,14,377533,378391,5
...,...,...,...,...,...,...,...
3692,1903_32_TeamNB_TeamA1,134,47.0,137,4407627,4408477,4
3693,1903_32_TeamNB_TeamA1,138,48.0,141,4496677,4498127,7
3694,1903_32_TeamNB_TeamA1,144,50.0,147,4758777,4759927,6
3695,1903_32_TeamNB_TeamA1,165,54.0,169,5395977,5396377,4
3696,1903_32_TeamNB_TeamA1,165,54.0,169,5397027,5397877,6

## Mapping Throws to Player ID

In [96]:
# Merge throw_event_only with game_info_df using specified columns to match game data
# 40 throws in throw_event_only are missing game_info data for the corresponding play
# The other 136 of 176 original instances were manually fixed by editing CSV files in the 'game_info' folder
player_throws = pd.merge(throw_event_only, game_info_df, on=["game_str", "at_bat", "play_per_game"], how="inner")

# Find throws missing game_info data for the corresponding play
# player_throws_test = pd.merge(throw_event_only, game_info_df, on=["game_str", "at_bat", "play_per_game"], how="left")
# missing_df = player_throws_test[player_throws_test['home_team'].isna()]
# missing_df = missing_df.iloc[:, 0:4]
# display(missing_df)
# missing_df.to_csv('missing_game_info_throws.csv')

# Remove unnecessary columns related to the batter and baserunners
player_throws = player_throws.drop(columns=['batter', 'first_baserunner', 'second_baserunner', 'third_baserunner'])
# display(player_throws)

# Mapping player positions to corresponding column names
position_to_column = {
    1: 'pitcher',
    2: 'catcher',
    3: 'first_base',
    4: 'second_base',
    5: 'third_base',
    6: 'shortstop',
    7: 'left_field',
    8: 'center_field',
    9: 'right_field'
}

# Create a list to store player IDs involved in each throw
player_id_list = []

# Iterate over each throw in player_throws DataFrame
for play in range(len(player_throws)):
    current_play = player_throws.loc[play]
    
    # Map player positions to respective player IDs
    position = current_play.player_position
    if position in position_to_column:
        column_name = position_to_column[position]
        player_id_list.append(str(current_play[column_name]))
    else:
        raise ValueError(f"Unknown player position: {position}")

# Add the player_id_list as a new column 'player_id' to player_throws DataFrame
player_throws['player_id'] = player_id_list

# Drop the columns related to player positions
player_throws = player_throws.drop(columns=list(position_to_column.values()))

# Add new columns for throw velocity (speed) and Euclidean distance to be populated later
player_throws['throw_velocity_mph'] = 0
player_throws['euclid_distance_avg'] = 0

display(player_throws)

,game_str,play_id,at_bat,play_per_game,timestamp_start,timestamp_stop,player_position,home_team,away_team,inning,top_bottom_inning,player_id,throw_velocity_mph,euclid_distance_avg
0,1900_01_TeamKJ_TeamB,7,NaN,7,121809,122931,9,TeamB,TeamKJ,1,Top,2279,0,0
1,1900_01_TeamKJ_TeamB,12,NaN,12,311258,312381,9,TeamB,TeamKJ,1,Top,2279,0,0
2,1900_01_TeamKJ_TeamB,14,NaN,14,372219,373704,7,TeamB,TeamKJ,1,Top,2488,0,0
3,1900_01_TeamKJ_TeamB,14,NaN,14,375057,376080,6,TeamB,TeamKJ,1,Top,2614,0,0
4,1900_01_TeamKJ_TeamB,14,NaN,14,377533,378391,5,TeamB,TeamKJ,1,Top,2653,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,1903_32_TeamNB_TeamA1,134,47.0,137,4407627,4408477,4,TeamA1,TeamNB,6,Bottom,9525,0,0
3653,1903_32_TeamNB_TeamA1,138,48.0,141,4496677,4498127,7,TeamA1,TeamNB,6,Bottom,7467,0,0
3654,1903_32_TeamNB_TeamA1,144,50.0,147,4758777,4759927,6,TeamA1,TeamNB,7,Top,2148,0,0
3655,1903_32_TeamNB_TeamA1,165,54.0,169,5395977,5396377,4,TeamA1,TeamNB,7,Bottom,9525,0,0
3656,1903_32_TeamNB_TeamA1,165,54.0,169,5397027,5397877,6,TeamA1,TeamNB,7,Bottom,8787,0,0

## Constants for Projectile Acceleration Calculations

In [97]:
# Gravitational acceleration constant in ft/s^2
gravitational_constant = -32.174

# Mass of a baseball in slug (to reduce conversions later), equivalent to 5.125 ounces
mass = 0.0099556168

# Cross-sectional area of a baseball in ft^2
area = 0.04587

# Drag coefficient (assumed constant) of a baseball
drag_coefficient = 0.345

# Air density in slug/ft^3, assuming standard sea-level conditions
air_density = 0.002377

# Calculate the non-velocity components of drag force
D = air_density * drag_coefficient * area / 2

## Trajectory Simulation and Euclidean Distance Functions

In [98]:
def simulate_trajectory(initial_velocities, throw_trajectory):
    # Extract initial horizontal (vx_0) and vertical (vy_0) components
    vx_0, vy_0 = initial_velocities
    
    # Get the starting position from the throw_trajectory DataFrame
    throw_start = throw_trajectory.iloc[0]
    
    # Initialize updating horizontal and vertical velocities
    v_x = vx_0
    v_y = vy_0
    
    # Calculate the total velocity
    v = math.sqrt(v_x**2 + v_y**2)
    
    # Initialize lists to store x and y coordinates
    x = [0]
    y = [throw_start.ball_position_z]
    
    # Iterate through each time step in the throw_trajectory DataFrame
    for i in range(len(throw_trajectory) - 1):
        # Get the data for the current and next time step
        start = throw_trajectory.iloc[i]
        stop = throw_trajectory.iloc[i+1]
        
        # Calculate the time interval in milliseconds between the two time steps then converts to seconds
        delta_t = (stop.timestamp - start.timestamp) / 1000
        
        # Calculate horizontal and vertical accelerations
        horizontal_acceleration = -((D / mass) * v * v_x)
        vertical_acceleration = gravitational_constant - ((D / mass) * v * v_y)
        
        # Update horizontal and vertical velocities using acceleration and time interval
        v_x += horizontal_acceleration * delta_t
        v_y += vertical_acceleration * delta_t
        
        # Update total velocity
        v = math.sqrt(v_x**2 + v_y**2)
        
        # Calculate and append new x and y coordinates using kinematic equations
        x.append(x[-1] + (v_x * delta_t) + (0.5 * horizontal_acceleration * delta_t**2))
        y.append(y[-1] + (v_y * delta_t) + (0.5 * vertical_acceleration * delta_t**2))
    
    # Return the lists of x and y coordinates
    return x, y

In [99]:
def euclidean_distance(initial_velocities, throw_trajectory):
    # Simulate trajectory using provided initial velocity components and the coordinates of the throw's trajectory
    simulated_x, simulated_y = simulate_trajectory(initial_velocities, throw_trajectory)
    
    # Get the starting position from the throw_trajectory DataFrame
    throw_start = throw_trajectory.iloc[0]
    
    # Create a copy of throw_trajectory DataFrame to calculate differences and distances
    df = throw_trajectory.copy()
    
    # Calculate differences in x and y coordinates from the starting position
    df['delta_x'] = (df.ball_position_x - throw_start.ball_position_x)
    df['delta_y'] = (df.ball_position_y - throw_start.ball_position_y)
    
    # Calculate the horizontal position as distance from the starting position
    df['horizontal_position'] = (df.delta_x**2 + df.delta_y**2)**.5
    
    # Convert real x and y positions to lists for comparison
    real_x = df.horizontal_position.to_list()
    real_y = df.ball_position_z.to_list()

    # Print simulated and real coordinates for comparison (commented out)
    # print(simulated_x)
    # print(real_x)
    # print()
    # print(simulated_y)
    # print(real_y)
    # print()
    
    # Calculate Euclidean distance between simulated and real positions at each time step
    dist = []
    for i in range(len(simulated_x)):
        dist.append(math.sqrt((real_x[i] - simulated_x[i])**2 + (real_y[i] - simulated_y[i])**2))
    
    # Plot simulated and real trajectories for visual comparison (commented out)
    # sns.scatterplot(x=real_x, y=real_y, color='red')
    # sns.scatterplot(x=simulated_x, y=simulated_y, color='purple')
    # plt.show()   
    
    # Return the sum of distances as the result of the function
    return sum(dist)

## Calculate the Estimated Throwing Speed for Each Throw

In [101]:
for throw in range(len(player_throws)):
    # Assign the row containing the current throw from player_throws to current_throw
    current_throw = player_throws.iloc[throw]
    # print(current_throw)
    
    # Extract throw_trajectory between timestamp_start and timestamp_stop for the current throw
    throw_trajectory = ball_pos_df[(ball_pos_df.game_str == current_throw.game_str) &
                                   (ball_pos_df.play_id == current_throw.play_id) &
                                   (ball_pos_df.timestamp >= current_throw.timestamp_start) &
                                   (ball_pos_df.timestamp <= current_throw.timestamp_stop)].reset_index(drop='True')
    
    if len(throw_trajectory) > 0:
        # Find where the ball bounced (ball_position_z increased after the maximum height)
        max_height_index = throw_trajectory.ball_position_z.idxmax()
        after_bounce = throw_trajectory[max_height_index+1:][throw_trajectory[max_height_index+1:].ball_position_z.diff() > 0]
        
        # Remove position data in throw_trajectory after the ball bounced for the first time (if applicable)
        if len(after_bounce) > 0:
            bounce_index = after_bounce.index[0]
            throw_trajectory = throw_trajectory.iloc[:bounce_index]
        
        # Remove position data that occurs before the throw based on having an unrealistic ball_position_z (less than 1/2 feet)
        while len(throw_trajectory) > 0 and throw_trajectory.ball_position_z[0] < 0.5:
            throw_trajectory = throw_trajectory.iloc[1:].reset_index(drop=True)
        
        # Remove position data when the ball rolled after hitting the ground
        if 0 in throw_trajectory.ball_position_z.values:
            index = throw_trajectory.index[throw_trajectory.ball_position_z == 0][0]
            throw_trajectory = throw_trajectory.iloc[:index + 1]

    if len(throw_trajectory) > 1:
        throw_start = throw_trajectory.iloc[0]
        throw_next = throw_trajectory.iloc[1]
        
        # Calculate the time interval in milliseconds between the two time steps then converts to seconds
        time_delta = (throw_next.timestamp - throw_start.timestamp) / 1000
        
        # Calculate the displacement and velocity components in the horizontal (ball_position_x and y) and vertical (ball_position_z) directions
        horizontal_displacement = math.sqrt((throw_next.ball_position_x - throw_start.ball_position_x)**2 + (throw_next.ball_position_y - throw_start.ball_position_y)**2)
        horizontal_velocity = horizontal_displacement / time_delta
        vertical_displacement = throw_next.ball_position_z - throw_start.ball_position_z
        vertical_velocity = (vertical_displacement / time_delta) - (0.5 * gravitational_constant * time_delta)
        
        # Optimize velocity components by minimizing the euclidean_distance function
        optimize = scipy.optimize.minimize(euclidean_distance, [horizontal_velocity, vertical_velocity], args=(throw_trajectory,))
        throw_speed = math.sqrt(optimize.x[0]**2 + optimize.x[1]**2)
        
        # Convert throwing speed from ft/s to mph
        player_throws.at[throw, 'throw_velocity_mph'] = throw_speed / 1.467

        # Calculate and store the average Euclidean distance between the simulated and real trajectory
        player_throws.at[throw, 'euclid_distance_avg'] = optimize.fun / len(throw_trajectory)
        
        # Print statements for error analysis (commented out)
        # print(optimize.fun / len(throw_trajectory))
        # print(throw_speed / 1.467)
        # display(throw_trajectory)
    
    else:
        # Print information about plays where there was 1 or fewer ball position after removing errors
        print(f'Missing ball positions for index {throw}, {current_throw.game_str}, play_id {current_throw.play_id}, timestamp_start {current_throw.timestamp_start}, timestamp_stop {current_throw.timestamp_stop}') 

display(player_throws)

Missing ball positions for index 0, 1900_01_TeamKJ_TeamB, play_id 7, timestamp_start 121809, timestamp_stop 122931
Missing ball positions for index 1, 1900_01_TeamKJ_TeamB, play_id 12, timestamp_start 311258, timestamp_stop 312381
Missing ball positions for index 5, 1900_01_TeamKJ_TeamB, play_id 23, timestamp_start 695735, timestamp_stop 696494
Missing ball positions for index 15, 1900_01_TeamKJ_TeamB, play_id 65, timestamp_start 2191725, timestamp_stop 2192055
Missing ball positions for index 20, 1900_01_TeamKJ_TeamB, play_id 74, timestamp_start 2591615, timestamp_stop 2591912
Missing ball positions for index 24, 1900_01_TeamKJ_TeamB, play_id 93, timestamp_start 3180294, timestamp_stop 3180954
Missing ball positions for index 26, 1900_01_TeamKJ_TeamB, play_id 108, timestamp_start 3590680, timestamp_stop 3591142
Missing ball positions for index 30, 1900_01_TeamKJ_TeamB, play_id 144, timestamp_start 4776718, timestamp_stop 4777972
Missing ball positions for index 47, 1900_02_TeamKJ_TeamB, play_id 69, timestamp_start 2245448, timestamp_stop 2246835
Missing ball positions for index 53, 1900_02_TeamKJ_TeamB, play_id 95, timestamp_start 3189032, timestamp_stop 3189560
Missing ball positions for index 57, 1900_02_TeamKJ_TeamB, play_id 135, timestamp_start 4665746, timestamp_stop 4666439
Missing ball positions for index 64, 1900_02_TeamKJ_TeamB, play_id 184, timestamp_start 6444623, timestamp_stop 6445118
Missing ball positions for index 65, 1900_02_TeamKJ_TeamB, play_id 186, timestamp_start 6524858, timestamp_stop 6525353
Missing ball positions for index 70, 1900_02_TeamKJ_TeamB, play_id 220, timestamp_start 7841333, timestamp_stop 7841993
Missing ball positions for index 71, 1900_02_TeamKJ_TeamB, play_id 224, timestamp_start 7919456, timestamp_stop 7920545
Missing ball positions for index 72, 1900_02_TeamKJ_TeamB, play_id 246, timestamp_start 8691677, timestamp_stop 8692601
Missing ball positions for index 73, 1900_02_TeamKJ_TeamB, play_id 249, timestamp_start 8766697, timestamp_stop 8767787
Missing ball positions for index 74, 1900_02_TeamKJ_TeamB, play_id 255, timestamp_start 9106617, timestamp_stop 9107706
Missing ball positions for index 76, 1900_02_TeamKJ_TeamB, play_id 274, timestamp_start 10298828, timestamp_stop 10299323
Missing ball positions for index 80, 1900_03_TeamKJ_TeamB, play_id 5, timestamp_start 75759, timestamp_stop 77905
Missing ball positions for index 81, 1900_03_TeamKJ_TeamB, play_id 22, timestamp_start 808143, timestamp_stop 809332
Missing ball positions for index 83, 1900_03_TeamKJ_TeamB, play_id 73, timestamp_start 3073779, timestamp_stop 3074967
Missing ball positions for index 84, 1900_03_TeamKJ_TeamB, play_id 74, timestamp_start 3125729, timestamp_stop 3126389
Missing ball positions for index 85, 1900_03_TeamKJ_TeamB, play_id 74, timestamp_start 3126950, timestamp_stop 3127709
Missing ball positions for index 88, 1900_03_TeamKJ_TeamB, play_id 92, timestamp_start 3978680, timestamp_stop 3979571
Missing ball positions for index 96, 1900_03_TeamKJ_TeamB, play_id 165, timestamp_start 6824150, timestamp_stop 6825074
Missing ball positions for index 97, 1900_03_TeamKJ_TeamB, play_id 169, timestamp_start 7132715, timestamp_stop 7133210
Missing ball positions for index 102, 1900_04_TeamKK_TeamB, play_id 56, timestamp_start 1659342, timestamp_stop 1660299
Missing ball positions for index 107, 1900_04_TeamKK_TeamB, play_id 112, timestamp_start 3805863, timestamp_stop 3806952
Missing ball positions for index 108, 1900_04_TeamKK_TeamB, play_id 117, timestamp_start 4026106, timestamp_stop 4028186
Missing ball positions for index 117, 1900_04_TeamKK_TeamB, play_id 152, timestamp_start 5441234, timestamp_stop 5442521
Missing ball positions for index 118, 1900_04_TeamKK_TeamB, play_id 177, timestamp_start 6229264, timestamp_stop 6230353
Missing ball positions for index 119, 1900_04_TeamKK_TeamB, play_id 178, timestamp_start 6283524, timestamp_stop 6284514
Missing ball positions for index 125, 1900_04_TeamKK_TeamB, play_id 242, timestamp_start 8378721, timestamp_stop 8379415
Missing ball positions for index 134, 1900_05_TeamKK_TeamB, play_id 36, timestamp_start 1432249, timestamp_stop 1436440
Missing ball positions for index 141, 1900_05_TeamKK_TeamB, play_id 94, timestamp_start 3530285, timestamp_stop 3531572
Missing ball positions for index 143, 1900_05_TeamKK_TeamB, play_id 102, timestamp_start 3873835, timestamp_stop 3874792
Missing ball positions for index 148, 1900_05_TeamKK_TeamB, play_id 129, timestamp_start 5013601, timestamp_stop 5014426
Missing ball positions for index 153, 1900_05_TeamKK_TeamB, play_id 139, timestamp_start 5388110, timestamp_stop 5389826
Missing ball positions for index 156, 1900_05_TeamKK_TeamB, play_id 170, timestamp_start 6455132, timestamp_stop 6455693
Missing ball positions for index 168, 1900_06_TeamKL_TeamB, play_id 65, timestamp_start 1774501, timestamp_stop 1775788
Missing ball positions for index 171, 1900_06_TeamKL_TeamB, play_id 94, timestamp_start 2846012, timestamp_stop 2848322
Missing ball positions for index 174, 1900_06_TeamKL_TeamB, play_id 118, timestamp_start 3765304, timestamp_stop 3766129
Missing ball positions for index 176, 1900_06_TeamKL_TeamB, play_id 128, timestamp_start 4275398, timestamp_stop 4276124
Missing ball positions for index 195, 1900_07_TeamKL_TeamB, play_id 28, timestamp_start 750732, timestamp_stop 750996
Missing ball positions for index 196, 1900_07_TeamKL_TeamB, play_id 33, timestamp_start 891994, timestamp_stop 892687
Missing ball positions for index 197, 1900_07_TeamKL_TeamB, play_id 39, timestamp_start 1058109, timestamp_stop 1059957
Missing ball positions for index 200, 1900_07_TeamKL_TeamB, play_id 65, timestamp_start 1901719, timestamp_stop 1902808
Missing ball positions for index 201, 1900_07_TeamKL_TeamB, play_id 80, timestamp_start 2318310, timestamp_stop 2319069
Missing ball positions for index 206, 1900_07_TeamKL_TeamB, play_id 102, timestamp_start 3174264, timestamp_stop 3175188
Missing ball positions for index 207, 1900_07_TeamKL_TeamB, play_id 104, timestamp_start 3223508, timestamp_stop 3225389
Missing ball positions for index 208, 1900_07_TeamKL_TeamB, play_id 107, timestamp_start 3309024, timestamp_stop 3310938
Missing ball positions for index 215, 1900_07_TeamKL_TeamB, play_id 146, timestamp_start 4655665, timestamp_stop 4656656
Missing ball positions for index 220, 1900_07_TeamKL_TeamB, play_id 162, timestamp_start 5325206, timestamp_stop 5325635
Missing ball positions for index 221, 1900_07_TeamKL_TeamB, play_id 163, timestamp_start 5361314, timestamp_stop 5363294
Missing ball positions for index 222, 1900_07_TeamKL_TeamB, play_id 164, timestamp_start 5456401, timestamp_stop 5457986
Missing ball positions for index 227, 1900_07_TeamKL_TeamB, play_id 195, timestamp_start 6838226, timestamp_stop 6839084
Missing ball positions for index 228, 1900_07_TeamKL_TeamB, play_id 196, timestamp_start 6889417, timestamp_stop 6891331
Missing ball positions for index 242, 1900_08_TeamKL_TeamB, play_id 154, timestamp_start 5522824, timestamp_stop 5524507
Missing ball positions for index 263, 1900_09_TeamKK_TeamB, play_id 17, timestamp_start 605509, timestamp_stop 607918
Missing ball positions for index 269, 1900_09_TeamKK_TeamB, play_id 53, timestamp_start 1721544, timestamp_stop 1723326
Missing ball positions for index 279, 1900_09_TeamKK_TeamB, play_id 135, timestamp_start 4771546, timestamp_stop 4772998
Missing ball positions for index 281, 1900_09_TeamKK_TeamB, play_id 137, timestamp_start 4847193, timestamp_stop 4847688
Missing ball positions for index 402, 1901_04_TeamLI_TeamA3, play_id 20, timestamp_start 511593, timestamp_stop 513093
Missing ball positions for index 410, 1901_04_TeamLI_TeamA3, play_id 102, timestamp_start 3155066, timestamp_stop 3155616
Missing ball positions for index 419, 1901_04_TeamLI_TeamA3, play_id 166, timestamp_start 5207714, timestamp_stop 5209364
Missing ball positions for index 423, 1901_04_TeamLI_TeamA3, play_id 226, timestamp_start 7475662, timestamp_stop 7478212
Missing ball positions for index 427, 1901_04_TeamLI_TeamA3, play_id 283, timestamp_start 9426510, timestamp_stop 9428360
Missing ball positions for index 438, 1901_05_TeamLI_TeamA3, play_id 36, timestamp_start 1054404, timestamp_stop 1054854
Missing ball positions for index 440, 1901_05_TeamLI_TeamA3, play_id 69, timestamp_start 2206903, timestamp_stop 2208653
Missing ball positions for index 444, 1901_05_TeamLI_TeamA3, play_id 78, timestamp_start 2444303, timestamp_stop 2444503
Missing ball positions for index 459, 1901_05_TeamLI_TeamA3, play_id 225, timestamp_start 7623298, timestamp_stop 7624898
Missing ball positions for index 473, 1901_05_TeamLI_TeamA3, play_id 306, timestamp_start 10393496, timestamp_stop 10395296
Missing ball positions for index 480, 1901_06_TeamLI_TeamA3, play_id 6, timestamp_start 123584, timestamp_stop 124884
Missing ball positions for index 481, 1901_06_TeamLI_TeamA3, play_id 6, timestamp_start 125884, timestamp_stop 126634
Missing ball positions for index 576, 1901_08_TeamLK_TeamB, play_id 167, timestamp_start 5810788, timestamp_stop 5811638
Missing ball positions for index 583, 1901_08_TeamLK_TeamB, play_id 214, timestamp_start 7814886, timestamp_stop 7817036
Missing ball positions for index 585, 1901_08_TeamLK_TeamB, play_id 233, timestamp_start 8567285, timestamp_stop 8568835
Missing ball positions for index 595, 1901_09_TeamLK_TeamB, play_id 50, timestamp_start 1925714, timestamp_stop 1926464
Missing ball positions for index 610, 1901_09_TeamLK_TeamB, play_id 180, timestamp_start 6762079, timestamp_stop 6763179
Missing ball positions for index 613, 1901_09_TeamLK_TeamB, play_id 203, timestamp_start 7602678, timestamp_stop 7603278
Missing ball positions for index 616, 1901_09_TeamLK_TeamB, play_id 241, timestamp_start 8928577, timestamp_stop 8929027
Missing ball positions for index 628, 1901_10_TeamLJ_TeamB, play_id 17, timestamp_start 659916, timestamp_stop 660466
Missing ball positions for index 655, 1901_10_TeamLJ_TeamB, play_id 210, timestamp_start 8672708, timestamp_stop 8673458
Missing ball positions for index 659, 1901_10_TeamLJ_TeamB, play_id 228, timestamp_start 9435207, timestamp_stop 9436457
Missing ball positions for index 660, 1901_10_TeamLJ_TeamB, play_id 236, timestamp_start 9748857, timestamp_stop 9750057
Missing ball positions for index 669, 1901_11_TeamLJ_TeamB, play_id 54, timestamp_start 1738194, timestamp_stop 1740194
Missing ball positions for index 710, 1901_12_TeamLJ_TeamB, play_id 110, timestamp_start 3744793, timestamp_stop 3745893
Missing ball positions for index 717, 1901_12_TeamLJ_TeamB, play_id 139, timestamp_start 4810342, timestamp_stop 4811242
Missing ball positions for index 721, 1901_12_TeamLJ_TeamB, play_id 172, timestamp_start 5954191, timestamp_stop 5955491
Missing ball positions for index 724, 1901_12_TeamLJ_TeamB, play_id 188, timestamp_start 6497941, timestamp_stop 6498791
Missing ball positions for index 726, 1901_12_TeamLJ_TeamB, play_id 194, timestamp_start 6675341, timestamp_stop 6677141
Missing ball positions for index 735, 1901_12_TeamLJ_TeamB, play_id 258, timestamp_start 8823639, timestamp_stop 8824439
Missing ball positions for index 742, 1901_13_TeamLL_TeamB, play_id 13, timestamp_start 294975, timestamp_stop 295825
Missing ball positions for index 757, 1901_13_TeamLL_TeamB, play_id 166, timestamp_start 5440270, timestamp_stop 5442670
Missing ball positions for index 796, 1901_14_TeamLL_TeamB, play_id 185, timestamp_start 6857495, timestamp_stop 6859745
Missing ball positions for index 815, 1901_15_TeamLL_TeamB, play_id 132, timestamp_start 4510467, timestamp_stop 4511417
Missing ball positions for index 816, 1901_15_TeamLL_TeamB, play_id 137, timestamp_start 4672117, timestamp_stop 4673567
Missing ball positions for index 822, 1901_15_TeamLL_TeamB, play_id 210, timestamp_start 7625614, timestamp_stop 7627614
Missing ball positions for index 823, 1901_15_TeamLL_TeamB, play_id 213, timestamp_start 7765514, timestamp_stop 7766614
Missing ball positions for index 918, 1901_18_TeamLH_TeamA3, play_id 57, timestamp_start 1853252, timestamp_stop 1854352
Missing ball positions for index 926, 1901_18_TeamLH_TeamA3, play_id 89, timestamp_start 3064101, timestamp_stop 3067551
Missing ball positions for index 1344, 1902_10_TeamMI_TeamA3, play_id 136, timestamp_start 4768281, timestamp_stop 4769381
Missing ball positions for index 2079, 1902_26_TeamMC_TeamA1, play_id 161, timestamp_start 5542827, timestamp_stop 5543527
Missing ball positions for index 2463, 1903_05_TeamND_TeamA2, play_id 46, timestamp_start 1310712, timestamp_stop 1312462
Missing ball positions for index 2736, 1903_11_TeamNC_TeamA1, play_id 216, timestamp_start 12927036, timestamp_stop 12927236
Missing ball positions for index 2830, 1903_14_TeamNG_TeamA3, play_id 227, timestamp_start 8702121, timestamp_stop 8702571
Missing ball positions for index 3223, 1903_25_TeamNH_TeamA3, play_id 45, timestamp_start 1463811, timestamp_stop 1466911
Missing ball positions for index 3239, 1903_25_TeamNH_TeamA3, play_id 193, timestamp_start 6628361, timestamp_stop 6629211

,game_str,play_id,at_bat,play_per_game,timestamp_start,timestamp_stop,player_position,home_team,away_team,inning,top_bottom_inning,player_id,throw_velocity_mph,euclid_distance_avg
0,1900_01_TeamKJ_TeamB,7,NaN,7,121809,122931,9,TeamB,TeamKJ,1,Top,2279,0.000000,0.000000
1,1900_01_TeamKJ_TeamB,12,NaN,12,311258,312381,9,TeamB,TeamKJ,1,Top,2279,0.000000,0.000000
2,1900_01_TeamKJ_TeamB,14,NaN,14,372219,373704,7,TeamB,TeamKJ,1,Top,2488,60.019214,0.559974
3,1900_01_TeamKJ_TeamB,14,NaN,14,375057,376080,6,TeamB,TeamKJ,1,Top,2614,27.922048,0.130653
4,1900_01_TeamKJ_TeamB,14,NaN,14,377533,378391,5,TeamB,TeamKJ,1,Top,2653,25.026695,0.036648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,1903_32_TeamNB_TeamA1,134,47.0,137,4407627,4408477,4,TeamA1,TeamNB,6,Bottom,9525,68.381967,0.177805
3653,1903_32_TeamNB_TeamA1,138,48.0,141,4496677,4498127,7,TeamA1,TeamNB,6,Bottom,7467,50.618307,0.290027
3654,1903_32_TeamNB_TeamA1,144,50.0,147,4758777,4759927,6,TeamA1,TeamNB,7,Top,2148,71.595226,0.266336
3655,1903_32_TeamNB_TeamA1,165,54.0,169,5395977,5396377,4,TeamA1,TeamNB,7,Bottom,9525,50.748788,0.117873
3656,1903_32_TeamNB_TeamA1,165,54.0,169,5397027,5397877,6,TeamA1,TeamNB,7,Bottom,8787,71.494783,0.113180

## Clean Estimated Throwing Speed Results

In [102]:
# Remove throws with 0-mph speed (unable to compute estimated throwing speed)
clean_throws = player_throws[player_throws.throw_velocity_mph > 0]

# Calculate and display descriptive statistics for throw velocities
throw_velocity_stats = clean_throws.throw_velocity_mph.describe()
print("Estimated Throwing Speed Statistics:")
print(throw_velocity_stats)

Estimated Throwing Speed Statistics:
count    3548.000000
mean       67.093760
std        16.586895
min         4.065836
25%        57.721802
50%        70.423796
75%        79.148899
max       108.971180
Name: throw_velocity_mph, dtype: float64

In [103]:
# Further remove throws with average Euclidean distances greater than 3 feet
clean_throws = clean_throws[clean_throws.euclid_distance_avg < 3]

# Calculate and display updated descriptive statistics for throw velocities
throw_velocity_stats = clean_throws.throw_velocity_mph.describe()
print("Updated Estimated Throwing Speed Statistics:")
print(throw_velocity_stats)

Updated Estimated Throwing Speed Statistics:
count    3497.000000
mean       66.921275
std        16.560192
min         4.065836
25%        57.576789
50%        70.254205
75%        78.932896
max       102.815672
Name: throw_velocity_mph, dtype: float64

In [104]:
display(clean_throws)

,game_str,play_id,at_bat,play_per_game,timestamp_start,timestamp_stop,player_position,home_team,away_team,inning,top_bottom_inning,player_id,throw_velocity_mph,euclid_distance_avg
2,1900_01_TeamKJ_TeamB,14,NaN,14,372219,373704,7,TeamB,TeamKJ,1,Top,2488,60.019214,0.559974
3,1900_01_TeamKJ_TeamB,14,NaN,14,375057,376080,6,TeamB,TeamKJ,1,Top,2614,27.922048,0.130653
4,1900_01_TeamKJ_TeamB,14,NaN,14,377533,378391,5,TeamB,TeamKJ,1,Top,2653,25.026695,0.036648
6,1900_01_TeamKJ_TeamB,24,NaN,24,729829,730456,2,TeamB,TeamKJ,1,Bottom,9570,81.661811,0.116114
7,1900_01_TeamKJ_TeamB,26,NaN,26,833795,834521,1,TeamB,TeamKJ,1,Bottom,8953.0,68.482417,0.313047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,1903_32_TeamNB_TeamA1,134,47.0,137,4407627,4408477,4,TeamA1,TeamNB,6,Bottom,9525,68.381967,0.177805
3653,1903_32_TeamNB_TeamA1,138,48.0,141,4496677,4498127,7,TeamA1,TeamNB,6,Bottom,7467,50.618307,0.290027
3654,1903_32_TeamNB_TeamA1,144,50.0,147,4758777,4759927,6,TeamA1,TeamNB,7,Top,2148,71.595226,0.266336
3655,1903_32_TeamNB_TeamA1,165,54.0,169,5395977,5396377,4,TeamA1,TeamNB,7,Bottom,9525,50.748788,0.117873
3656,1903_32_TeamNB_TeamA1,165,54.0,169,5397027,5397877,6,TeamA1,TeamNB,7,Bottom,8787,71.494783,0.113180

## Iterative Outlier Removal using IQR Method

In [105]:
# Apply the Iterative Outlier Removal (IQR) method to clean throw velocity data
col_throw_velocity = clean_throws.throw_velocity_mph
max_iterations = 5

# Iteratively refine the data by removing outliers
for i in range(max_iterations):
    q1 = col_throw_velocity.quantile(0.25)
    q3 = col_throw_velocity.quantile(0.75)
    iqr = q3 - q1
    
    # Calculate lower and upper thresholds for outlier detection
    lower_threshold = q1 - 1.5 * iqr
    upper_threshold = q3 + 1.5 * iqr
    
    # Apply the outlier filter to the data
    col_throw_velocity = col_throw_velocity[(col_throw_velocity >= lower_threshold) & (col_throw_velocity <= upper_threshold)]

# Display descriptive statistics of throw velocities after removing outliers
throw_velocity_stats_without_outliers = col_throw_velocity.describe()
print("Estimated Throwing Speed Statistic (Without Outliers):")
print(throw_velocity_stats_without_outliers)

Estimated Throwing Speed Statistic (Without Outliers):
count    3403.000000
mean       68.118453
std        15.100978
min        27.922048
25%        58.695279
50%        70.790299
75%        79.224650
max       102.815672
Name: throw_velocity_mph, dtype: float64

In [106]:
# Gathers only throws where the estimated throwing speed wasn't considered to be an outlier
throwing_speed = clean_throws[clean_throws.throw_velocity_mph.isin(col_throw_velocity)]
display(throwing_speed)

,game_str,play_id,at_bat,play_per_game,timestamp_start,timestamp_stop,player_position,home_team,away_team,inning,top_bottom_inning,player_id,throw_velocity_mph,euclid_distance_avg
2,1900_01_TeamKJ_TeamB,14,NaN,14,372219,373704,7,TeamB,TeamKJ,1,Top,2488,60.019214,0.559974
3,1900_01_TeamKJ_TeamB,14,NaN,14,375057,376080,6,TeamB,TeamKJ,1,Top,2614,27.922048,0.130653
6,1900_01_TeamKJ_TeamB,24,NaN,24,729829,730456,2,TeamB,TeamKJ,1,Bottom,9570,81.661811,0.116114
7,1900_01_TeamKJ_TeamB,26,NaN,26,833795,834521,1,TeamB,TeamKJ,1,Bottom,8953.0,68.482417,0.313047
8,1900_01_TeamKJ_TeamB,37,NaN,37,1189690,1190449,1,TeamB,TeamKJ,1,Bottom,8953.0,62.869961,0.140244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3652,1903_32_TeamNB_TeamA1,134,47.0,137,4407627,4408477,4,TeamA1,TeamNB,6,Bottom,9525,68.381967,0.177805
3653,1903_32_TeamNB_TeamA1,138,48.0,141,4496677,4498127,7,TeamA1,TeamNB,6,Bottom,7467,50.618307,0.290027
3654,1903_32_TeamNB_TeamA1,144,50.0,147,4758777,4759927,6,TeamA1,TeamNB,7,Top,2148,71.595226,0.266336
3655,1903_32_TeamNB_TeamA1,165,54.0,169,5395977,5396377,4,TeamA1,TeamNB,7,Bottom,9525,50.748788,0.117873
3656,1903_32_TeamNB_TeamA1,165,54.0,169,5397027,5397877,6,TeamA1,TeamNB,7,Bottom,8787,71.494783,0.113180

## Remove Pitchers

In [107]:
# Filter out rows corresponding to pitchers from the 'throwing_speed' DataFrame
# (since the analysis is focusing only on position players)
throwing_speed = throwing_speed[throwing_speed.player_position != 1]

# Calculate descriptive statistics for the throwing speeds in the 'throwing_speed' DataFrame
throwing_speed_stats = throwing_speed.throw_velocity_mph.describe()
print("Estimated Throwing Speed Statistic (Without Pitchers):")
print(throwing_speed_stats)

Estimated Throwing Speed Statistic (Without Pitchers):
count    3221.000000
mean       68.920868
std        14.608030
min        27.922048
25%        59.901035
50%        71.351155
75%        79.570019
max       102.815672
Name: throw_velocity_mph, dtype: float64

## Export Estimated Throwing Speed Results (Post Cleaning)

In [108]:
# Round the 'throw_velocity_mph' column in the throwing_speed DataFrame to 2 decimal places for readability
throwing_speed.throw_velocity_mph = throwing_speed.throw_velocity_mph.round(2)

# Write the 'throwing_speed' DataFrame to a CSV file
throwing_speed.to_csv('throwing_speed_results.csv', index=False)

# Organization Analysis

In [109]:
# Create a new DataFrame 'organization_only' to focus on players only in the organization being analyzed
organization_only = throwing_speed

# Extract the year information from the 'game_str' column and add it as a new 'year' column
organization_only['year'] = organization_only.game_str.str[:4].astype(int)

# Filter so only throws made by players in the organization remain
# The home team (all in the same organization) always fields during the top half-inning
organization_only = organization_only[organization_only.top_bottom_inning == 'Top']

# Drop the 'away_team' and 'top_bottom_inning' columns from the DataFrame
organization_only = organization_only.drop(columns=['away_team', 'top_bottom_inning'])

# Rename the 'home_team' column to 'team'
organization_only = organization_only.rename(columns={'home_team' : 'team'})

display(organization_only)

,game_str,play_id,at_bat,play_per_game,timestamp_start,timestamp_stop,player_position,team,inning,player_id,throw_velocity_mph,euclid_distance_avg,year
2,1900_01_TeamKJ_TeamB,14,NaN,14,372219,373704,7,TeamB,1,2488,60.02,0.559974,1900
3,1900_01_TeamKJ_TeamB,14,NaN,14,375057,376080,6,TeamB,1,2614,27.92,0.130653,1900
9,1900_01_TeamKJ_TeamB,42,NaN,42,1364419,1365409,6,TeamB,2,2614,75.13,0.210989,1900
10,1900_01_TeamKJ_TeamB,48,NaN,48,1550171,1550798,4,TeamB,2,1201,34.29,0.056508,1900
11,1900_01_TeamKJ_TeamB,48,NaN,48,1551459,1552251,6,TeamB,2,2614,77.80,0.204848,1900
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3646,1903_32_TeamNB_TeamA1,119,40.0,122,3848527,3849927,7,TeamA1,6,1973,88.45,1.236875,1903
3647,1903_32_TeamNB_TeamA1,120,41.0,123,3885277,3886827,7,TeamA1,6,1973,93.57,1.575812,1903
3648,1903_32_TeamNB_TeamA1,129,44.0,132,4169777,4170477,3,TeamA1,6,1286,70.64,0.056589,1903
3649,1903_32_TeamNB_TeamA1,129,44.0,132,4171577,4172427,6,TeamA1,6,2148,71.49,0.229459,1903
3654,1903_32_TeamNB_TeamA1,144,50.0,147,4758777,4759927,6,TeamA1,7,2148,71.60,0.266336,1903

In [110]:
# Group 'organization_only' DataFrame by player attributes (player ID, position, year, team/level)
# Then find the throw count and the maximum estimated throwing speed (arm strength) for each grouping
org_grouping = organization_only.groupby(['player_id', 'player_position', 'year', 'team']).throw_velocity_mph.describe().reset_index()[['player_id', 'player_position', 'year', 'team', 'count', 'max']]

# Pivot the data to create a player progression DataFrame with years as columns and maximum throwing speed as values
player_progression = org_grouping.pivot_table(index=['player_id', 'player_position', 'team'], columns='year', values='max')
display(player_progression)

year                               1900   1901   1902    1903
player_id player_position team
1008      9               TeamA1    NaN    NaN    NaN  102.82
1009      3               TeamA1    NaN    NaN    NaN   71.54
1041      2               TeamB   74.06  82.20    NaN     NaN
1059      9               TeamA1    NaN    NaN  92.47     NaN
1080      5               TeamB     NaN    NaN    NaN   90.92
...                                 ...    ...    ...     ...
2946      8               TeamA3    NaN  75.34    NaN     NaN
          9               TeamA3    NaN  53.01    NaN     NaN
2973      8               TeamA1    NaN    NaN  82.78     NaN
          9               TeamA1    NaN    NaN  90.39     NaN
                          TeamA2    NaN    NaN    NaN   87.53

[218 rows x 4 columns]

In [111]:
# Reset index to convert the MultiIndex to columns
player_progression = player_progression.reset_index()

# Write the 'player_progression' DataFrame to a CSV file
player_progression.to_csv('organization_arm_strength.csv', index=False)